<div class="filtro-experiencias">
  <h2>Filtrar Experiencias por Usuario</h2>

  <label for="usuarioElegido">Seleccionar Usuario:</label>
  <select
    [(ngModel)]="usuarioElegido"
    (change)="filtrarExperienciasPorUsuario()"
    id="usuarioElegido"
    class="selector-usuario"
  >
    <option value=""> </option>
    <option *ngFor="let usuario of usuarios" [value]="usuario._id">
      {{ usuario.name }}
    </option>
  </select>

  <div *ngIf="mensajeError" class="mensaje-error">{{ mensajeError }}</div>

  <div *ngIf="experiencias.length > 0">
    <h3>Experiencias del Usuario Seleccionado:</h3>
    <ul>
      <li *ngFor="let experiencia of experiencias">
        <h4>{{ experiencia.description }}</h4>
        <p>Participantes: {{ experiencia.participants.length }}</p>
      </li>
    </ul>
  </div>

  <div *ngIf="experiencias.length === 0 && usuarioElegido">
    <p>No hay experiencias disponibles para este usuario.</p>
  </div>
</div>
